*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  vertical-align: top;
}
body{
  text-align: center;
}
.wrapper{
  padding: 0px 20px;
  border:2px solid black;
  margin:auto;
  width: 900px;
  text-align: left;
}