<html>
    <head>
      <title>Retro Barcode</title>
    </head>
    <body>
      <div class='wrapper'>
        <h1>Retro Barcode Generator</h1>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
        <div class="box" [ngStyle]="{'background-color':colorArr[rand_n()]}"></div>
      </div>
    </body>
  </html>
    