*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  vertical-align: top;
}
span{
  vertical-align: middle;
  display:inline-block;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 23px;
  padding: 0 5px 5px 5px;
}
div{
  display:inline-block;
  width: 170px;
  padding: 15px 30px;
  margin: 10px 15px;
  border: 2px solid black;
  text-align: center;
}
.header{
  display:block;
  width:auto;
  padding: 0px;
  margin: 0px;
  border:none;
  text-align: left;
}
