<div class='list_my_form_wrapper'>
  <h1>Create Listing</h1>
  <form #formData='ngForm' (submit)='add_bike(user_id)'>
    <div class="list_my_form_bicycle">
      <div class="img_div">
        <label class='long' for="newBike.img">Img Url:</label>
        <input
          type="text"
          name="newBike.img"
          required
          [(ngModel)]='newBike.img'
          #image='ngModel'
        >
        <h3>Bike will appear here! :D</h3>
      </div>
      <div class="list_my_form_bike_head">
        <label class='long' for="newBike.title">Title:</label>
        <input
          type="text"
          name="newBike.title"
          required
          [(ngModel)]='newBike.title'
          #title='ngModel'
        ><br><br>
        <label class='long' for="newBike.description">Description:</label>
        <input
          class='desc_input'
          type="text"
          name="newBike.description"
          required
          [(ngModel)]='newBike.description'
          #desc='ngModel'
        >
      </div>
      <div class="list_my_form_info">
        <label class='short' for="newBike.price">Price($):</label>
        <input
          type="text"
          name="newBike.price"
          required
          [(ngModel)]='newBike.price'
          #desc='ngModel'
        ><br>
        <label class='short' for="newBike.city">City:</label>
        <input
          type="text"
          name="newBike.city"
          required
          [(ngModel)]='newBike.city'
          #city='ngModel'
        ><br>
        <label class='short' for="newBike.state">State:</label>
        <select name='newBike.state' [(ngModel)]='newBike.state' #state='ngModel'>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select><br>
        <input class='create_bike' [disabled]="!formData.valid" type='submit' value='Add Bike'>
      </div>
    </div>
  </form>   
</div>
<div class="list_my_form_wrapper">
  <h1>Edit/Delete Listings</h1>
  <div id='listings'>
    <form #formData='ngForm' [ngClass]='{"margin": i > 0}' class="list_my_bicycle" *ngFor='let bike of my_bikes, let i = index'>
      <div class='img_div_edit'>
        <label class='long' for="img">Img Upload:</label>
        <input
        class='img_upload'
        type="text"
        name="img"
        [(ngModel)]=bike.img
        #bikeimg='ngModel'
        required
        ><br><br>
        <img class='list_my_img' [src]='bike.img' alt="bike">
      </div>
      <div class="list_my_bike_head">
        <h1><label class='long' for="title">Title:</label>
          <input
            type="text"
            name="title"
            [(ngModel)]=bike.title
            #biketitle='ngModel'
            required
          ></h1>
        <p><label class='long' for="description">Description:</label>
          <input
            class='desc_input'
            type="text"
            name="description"
            required
            [(ngModel)]='bike.description'
            #bikedescription='ngModel'
          ></p>
      </div>
      <div class="list_my_info">
        <h1 class='center'><label class='short2' for="price">Price($):</label>
          <input
            class='price'
            type="text"
            name="price"
            required
            [(ngModel)]='bike.price'
            #bikeprice='ngModel'
          ></h1>
        <p class='center'>
          <input
            type="text"
            name="city"
            required
            [(ngModel)]='bike.city'
            #bikecity='ngModel'
          ></p>
        <p class='center'>
          <select name='state' [(ngModel)]='bike.state' #bikestate='ngModel'>
            <option selected='selected' value="">Select a state...</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select><br><br>
        <button class='update_button' (click)='update({"bike_id":bike._id, "new_bike": formData.value})'>Update</button>
        <button class='delete_button' (click)='delete(bike._id)'>Delete</button>
      </div>
    </form>  
  </div>
</div>
