<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey Index</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h2>Submitted Info</h2>
        <div class="labels">
            <p>Name:</p>
            <p>Dojo Location:</p>
            <p>Favorite Language:</p>
            <p>Comment:</p>
        </div>
        <div class="info">
            <p><%= name %></p>
            <p><%= location %></p>
            <p><%= language %></p>
            <p><%= comment %></p>
        </div>
        <p class="button"><button id="go_back">Go Back</button></p>
    <script type="text/javascript">
            document.getElementById('go_back').addEventListener("click", function(){
                location.href = "/";
            })
    </script>
    </body>
</html>
