*{
  font-family: Georgia;

}
html{
  vertical-align: top;
  margin-top: 10px;
  display:inline-block;
}
body{
  width: 300px;
  height: 120px;
  border: 2px solid black;
}
h3{
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: -14px;
  background:white;
  padding: 2px 10px;
  border-radius: 20px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
p{
  margin-left: 20px;
}
.quote{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}