<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cars</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>Some images of cars I'm thinking of buying!</h1>
        <div class="images">
            <img src="/images/hyundai_santafe2018.png" alt="santa_fe">
            <img src="/images/mitsubishi_outlander2018.jpg" alt="outlander">
            <img src="/images/nissan_xterra2012.jpg" alt="xterra">
            <!-- <img src="/images/subaru_forester2015" alt="forester">
            <img src="/images/subaru_outback2015" alt="outback">
            <img src="/images/toyota_4runner2012" alt="4runner">
            <img src="/images/toyota_highlander2018" alt="highlander"> -->
        </div>
    </body>
</html>
