<!DOCTYPE html>
<html>
    <head>
       <title>Login & Reg | Home</title>
       <link rel="stylesheet" href="/create.css" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <form action='' method='post'>
            <h1>New car for my search?</h1>
            <div class="names">
                <p>Make: </p>
                <p>Model: </p>
                <p>Year: </p>
                <p>Recommended tread: </p>
            </div>
            <div class="inputs">
                <p><input type='text' name='first_name'></p>
                <p><input type='text' name='last_name'></p>
                <p><input type='text' name='email'></p>
                <p><input type='password' name='password'></p>
                <button>Submit</button>
            </div>
        </form>
    </body>
</html>
