div.wrapper{
  border: 2px solid black;
  padding: 0px 20px;
  background-color: rgb(108, 205, 250)
}
p.submit{
  display:inline-block;
  width: 250px;
  text-align: right;
}
div.errors{
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  vertical-align: top;
  display:inline-block;
}
p.check{
  color: rgb(22, 102, 89);
  font-size: 12px;
}
div p{
  margin-top: 5px;
  margin-bottom: 10px;
}
table{
  width: 265px;
}
form{
  display:inline-block;
  width: 265px;
  margin:0px;
}