<div class="wrapper">
  <h1>Create a New Product</h1>
  <form #formData='ngForm' (submit)='create(formData.value)'>
    <table>
      <tr>
        <td><label for="title">Title</label></td>
        <td><input
          name='title'
          type="text"
          [(ngModel)]='title'
          #titleData='ngModel'
          required
          minlength="4"
          ></td>
      </tr>
      <tr>
        <td><label for="price">Price($)</label></td>
        <td><input
          name='price'
          type="number"
          [(ngModel)]='price'
          #priceData='ngModel'
          required
          ></td>
      </tr>
      <tr>
        <td><label for="img">Image URL</label></td>
        <td><input
          name='img'
          type="text"
          [(ngModel)]='img'
          >
        </td>
      </tr>
    </table>
    <p class='submit'><input type="submit" [disabled]='!formData.valid' value="Create"></p>
  </form>
  <div class="errors">
    <p *ngIf='!titleData.valid'>must be at least 4 characters</p>
    <p class='check' *ngIf='titleData.valid'>✔</p>
    <p *ngIf='!priceData.valid'>this field is required</p>
    <p class='check' *ngIf='priceData.valid'>✔</p>
  </div>
</div>
